/* General style */

.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 0em;
}

.grid-gallery figcaption p {
	margin: 0;
}

/* Grid style */
.grid-wrap {
	/*max-width: 69em;*/
	margin: 0 auto;
	/*padding: 0 1em 1.875em;*/
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 33.3%;
	float: left;
	cursor: pointer;
}

.grid figure {
	padding: 0px;
	opacity: 0.5;
	transition: opacity 0.5s;
	position: relative;


}

.grid li:hover figure {
	opacity: 1;

}

.grid figcaption {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	bottom: 0;
	width:100%;
	padding: 10px;
	position: absolute;
}



/* Example media queries (reduce number of columns and change slideshow layout) */

@media screen and (max-width: 50em) {
	/* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
		width: 50%;
	}

	.info-keys {
		display: none;
	}

	iframe{

	width: 100%;
	height: auto;
}

footer > ul {
	text-align: center;
	padding: 0px;
}

}

@media screen and (max-width: 35em) {
	.grid li {
		width: 100%;
	}
	iframe{
		width: 100%;
		height: auto;
	}
	.grid figure {
		opacity:1;
}
	footer > ul {
		text-align: center;
		padding: 0px;
	}

}
