/* General Blueprint Style */


body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #fff;
    background: #2D2D2D;
}

h3 {

	font-size: 180%;
	font-weight: 100;

}

h1 {

	font-size: 100%;
	font-weight: 250;

}

iframe{

	width: 600px;
	height: 400px;

}

footer > ul {
	list-style: none;
	text-align: right;
	padding-right: 2em;
}

footer > ul > li {
	display: inline-block;
	font-size: 70%;
}

footer > ul > li > a:hover {
	color: #2D2D2D;
	background-color: #fff;
}

hr {
background-color: #A2A2A2;
border: 0;
height: 1px;
}



a {
	color: #A2A2A2;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #fff;
	background-color: #2D2D2D;
}

