html {
  background-color: #F9F9F9;
  padding: 0px 0px 0px 0px;
  height: 100%;
}

body {
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}

.page {
  margin: 5% 10% 5% 10%;
  color: #0000FF;
}

p,
li,
ul {
  font-family: 'PT Mono', monospace;
  color: #0000FF;
  padding: 0px;
  line-height: 130%;
  font-size: 12pt;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-top: 10px;
}

#footer {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

#footer a {
  color: #ADADAD;
}

#footer li {
  color: #ADADAD;
  font-size: 10pt;
  font-weight: bold;
  line-height: 200%;
}

.footer-right {
  right: 2%;
  text-align: right;
  display: inline;
  position: absolute;
}

.footer-center {
  left: 40%;
  display: inline-block;
  position: relative;
}

.footer-left {
  margin-left: 10%;
  text-align: left;
  display: inline;
  position: absolute;
}

a {
  text-decoration: none;
  color: #0000FF;
  border-bottom: 6px solid #0000FF;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
a:hover, a:focus {
  background-color: #0000FF;
  color: #F9F9F9;
}

a span {
  position: absolute;
  display: block;
  z-index: -1;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: right top;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

a:hover span {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: right top;
}

@media only screen and (min-width: 700px) {
  li:after {
    opacity: 0;
    content: attr(alt);
    color: #0000FF;
    font-size: 10pt;
    font-weight: bold;
    display: inline-block;
    position: static !important;
    margin-left: 10px;
    transition: opacity 0.5s ease-in-out;
    transform: translateX(20px);
    transition: all 0.5s ease-out;
  }

  li:hover:after {
    opacity: 1;
    transform: translateX(5px);
  }
}
@media only screen and (max-width: 700px) {
  .page {
    margin: 5%;
  }

  p, li, ul {
    font-size: 10pt;
  }

  .footer-left, .footer-right, .footer-center {
    position: relative;
    display: block;
    margin-left: 5%;
    left: 0;
    right: 0;
    text-align: left;
  }

  li:after {
    opacity: 1;
    content: attr(alt);
    color: #0000FF;
    font-size: 10pt;
    font-weight: bold;
    display: inline-block;
    position: static !important;
    margin-left: 5px;
    margin-top: 5px;
    transition: opacity 0.5s ease-in-out;
    transform: translateX(5px);
    transition: all 0.5s ease-out;
  }
}
#footer a {
  border-bottom: 0px;
  background-color: none;
  transition: all 0.5s ease-out;
}

#footer .footer-right a {
  text-decoration: none;
  color: #0000FF;
  border-bottom: 6px solid #0000FF;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}
#footer .footer-right a:hover, #footer .footer-right a:focus {
  background-color: #0000FF;
  color: #F9F9F9;
}

#footer a:hover {
  background-color: transparent;
  color: #0000FF;
}

#footer li:after {
  font-family: FontAwesome;
  opacity: 0;
  color: #0000FF;
  font-size: 12pt;
  font-weight: bold;
  display: inline-block;
  position: relative !important;
  margin-bottom: 20px;
  top: -20px;
  left: -75%;
  transition: opacity 0.5s ease-in-out;
  transform: translateY(5px);
  transition: all 0.5s ease-out;
}

#footer li:hover:after {
  opacity: 1;
  transform: translateY(-5px);
}

.icon-twitter:after {
  content: "\f099";
  width: 0px;
}

.icon-email:after {
  content: "\f0e0";
  width: 0px;
}

.icon-linkedin:after {
  content: "\f0e1";
  width: 0px;
}

.icon-medium:after {
  content: "\f23a";
  width: 0px;
}

.icon-github:after {
  content: "\f09b";
  width: 0px;
}

.icon-pdf:after {
  content: "\f15b";
  width: 0px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #0000FF;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
}
