<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <meta name="description" content="Damiano Gui - portfolio" />
    <meta name="keywords" content="interaction design, mobile, interactive, ixd" />
    <meta name="author" content="Damiano Gui" />
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/home-style.css" />

  </head>
  <body>

  {{ content }}

  </body>
</html>
