<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.name }}</title>
    <meta name="description" content="Damiano Gui - portfolio" />
    <meta name="keywords" content="interaction design, mobile, interactive" />
    <meta name="author" content="Damiano Gui" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/component.css" />

  </head>
  <body>

        <img src="{{ site.baseurl }}/img/large/{{ photo }}" alt="img"/>
        <figcaption><h3>{{ caption_header}}</h3><p>{{ content }}</p></figcaption>
      


  </body>
</html>
